readme.txt
item/settings.py
# cache
__pycache__

# Distribution / packaging
.Python
build/

# Django stuff:
*.log
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env

# mypy
.idea

# vscode
.vscode
