{% extends 'StuTemplate.html' %}

{% block CSS %}
<style>
        .hide{
            display: none;
        }
</style>
{% endblock %}


{% block title1_content %}论文选题管理{% endblock %}
{% block title2_content %}论文选题管理{% endblock %}

{% block html_content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card" id="show_page">
                                <!--导航栏-->
                                <div clss="card-header" style="padding-Top:10px;background:white;height:40px">
                                    <label style="margin-left: 30px">审核情况：</label>
                                    <select id="select_postil_flag" name="select_stat" style="padding-bottom:7px" >
                                        <option value="3" selected>全部</option>
                                        <option value="1">已通过</option>
                                        <option value="0">未审核</option>
                                        <option value="2">未通过</option>
                                    </select>
                                    <button onclick="search()" class="btn btn-success" style="margin-left: 30px"> &nbsp;查 &nbsp; &nbsp;询 &nbsp; </button>
                                    <button onclick="showAll()" class="btn btn-success"> 显示全部</button>
                                    <button onclick="add_select()" class="btn btn-success"> &nbsp; 添&nbsp; &nbsp; 加&nbsp;</button>
                                </div>

                                <!--表格部分-->
                                <div class=" table-responsive" style="width:95%;;margin:auto;margin-top: 20px">
                                    <table class="table table-hover table-bordered v-middle">
                                        <thead>
                                            <tr class="table-info" style="text-align:center">
                                                <th>姓名</th>
                                                <th>论文题目</th>
                                                <th>年级</th>
                                                <th>志愿意向</th>
                                                <th>审核情况</th>
                                                <th>维护</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-light" id="show_table">
                                        </tbody>
                                    </table>
                                </div>

                                        <!--分页部分-->
                                <div style="align-content: center!important">
                                              <table class="ui-pg-table ui-common-table ui-paging-pager" style="margin:auto; width:30%" >
                                                <tbody>
                                                <tr>
                                                    <td id="first_pager" class="mdi mdi-page-first"  style="text-align: center"></td>
                                                    <td id="first_pager" class="mdi mdi-chevron-double-left"  style="text-align: center"></td>
                                                    <td  dir="ltr" style="padding-top: 5px">
                                                        <input class="ui-pg-input form-control" type="text" size="2"  value="1" role="textbox" style="margin-right: -33px;margin-bottom: 8px;padding-top: 5px;">
                                                    </td>

                                                    <td id="last_pager" class="mdi mdi-chevron-double-right"  style="text-align: center"></td>
                                                    <td id="last_pager" class="mdi mdi-page-last"  style="text-align: center"></td>

                                                    <td dir="ltr">
                                                        <select class="ui-pg-selbox form-control" role="listbox" title="每页记录" style="padding-top: 2px;margin-right: -50px;height: 34px">
                                                        <option role="option" value="20" selected="selected">20</option>
                                                        <option role="option" value="50">50</option>
                                                        <option role="option" value="100">100</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                        </div>


                        <div class="card hide" id="add_page">
                            <div class="card-header" style="padding-Top:10px;background:white;height:40px;text-align: right;padding-right: 50px;">
                                <button onclick="add_returen()" class="btn btn-success">  &nbsp;返 &nbsp; &nbsp; 回&nbsp;  </button>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col" style="padding-left: 13%">
                                                    <input  id="add_year" style="width:50px"  value="2020"  type="number" />
                                                    <h4 class="" style="display: inline-block">级毕业论文题目选题</h4></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">姓名:</span></td>
                                                <td>
                                                    <p>{{ user_name }}</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">论文题目名称:</span></td>
                                                <td>
                                                    <input  id="add_sub_name" style="width:200px"  placeholder="历史信息查看中选择参与题目"  type="text" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">志愿意向:</span></td>
                                                <td>
                                                    <select id="add_wish_flag" name="select_stat" style="padding-bottom:7px" >
                                                        <option value="1" selected>第一志愿</option>
                                                        <option value="2">第二志愿</option>
                                                        <option value="3">第三志愿</option>
                                                        <option value="4">第四志愿</option>
                                                    </select>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right"><span class="col-md-12" style="margin-right: -25px;">选择理由:</span></td>
                                                <td> <textarea  rows="3" cols="80" id="add_wish"></textarea></td>
                                            </tr>

                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td scope="row" style="text-align: right">
                                                </td>
                                                <td scope="row">
                                                    <button class="btn btn-success" style="margin-left: 160px;" onclick="add_submit_btn()">确定
                                                    </button>

                                                    <button class="btn btn-primary" style="margin-left: 30px;" onclick="add_reset_btn()">重填
                                                    </button>
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--查看详情页-->
                        <div class="card hide" id="detail_page">
                            <div class="card-header" style="padding-Top:10px;background:white;height:40px;text-align: right;padding-right: 50px;">
                                <button onclick="detail_returen()" class="btn btn-success">  &nbsp;返 &nbsp; &nbsp; 回&nbsp;  </button>
                            </div>
                            <div class="card-body" style="height: 100%">
                                <div style="text-align: center"><h3  id="detail_sub_name">xxx</h3></div>

                                <div style="text-align: center">
                                    <span>年级:
                                        <span id="detail_year" style="display: inline-block;width: 20%;text-align: left"></span>
                                    </span>
                                    <span>志愿意向:
                                        <span id="detail_wish_flag" style="display: inline-block;width: 20%;text-align: left"></span>
                                    </span>
                                    <span>审核情况:
                                        <span id="detail_postil_flag" style="display: inline-block;text-align: left"></span>
                                    </span>
                                </div>
                                <div style="margin-left: 20.1%;margin-top: 12px">
                                    <div>审核意见：</div>
                                        <p style="text-indent:2em;" id="detail_postil"></p>
                                </div>
                                <div style="margin-left: 20.1%;margin-top: 12px">
                                    <div>选择理由：</div>
                                        <p style="text-indent:2em;" id="detail_wish"></p>
                                </div>
                            </div>
                        </div>


                        <div class="card hide" id="change_page">
                            <div class="card-header" style="padding-Top:10px;background:white;height:40px;text-align: right;padding-right: 50px;">
                                <button onclick="change_returen()" class="btn btn-success">  &nbsp;返 &nbsp; &nbsp; 回&nbsp;  </button>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col" style="padding-left: 13%">
                                                    <input  id="change_year" style="width:60px"  value="2020"  type="number" />
                                                    <h4 class="" style="display: inline-block">级毕业论文题目选题修改</h4></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">姓名:</span></td>
                                                <td>
                                                    <p id="change_name"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">论文题目名称:</span></td>
                                                <td>
                                                    <input  id="change_sub_name" style="width:200px"  placeholder="历史信息查看中选择参与题目"  type="text" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right;"><span class="col-md-12" style="margin-right: -25px;">志愿意向:</span></td>
                                                <td>
                                                    <select id="change_wish_flag" name="select_stat" style="padding-bottom:7px" >
                                                        <option value="1" selected>第一志愿</option>
                                                        <option value="2">第二志愿</option>
                                                        <option value="3">第三志愿</option>
                                                        <option value="4">第四志愿</option>
                                                    </select>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row"></td>
                                                <td scope="row" style="text-align: right"><span class="col-md-12" style="margin-right: -25px;">选择理由:</span></td>
                                                <td> <textarea  rows="3" cols="80" id="change_wish"></textarea></td>
                                            </tr>

                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td scope="row" style="text-align: right">
                                                </td>
                                                <td scope="row">
                                                    <button class="btn btn-success" style="margin-left: 160px;" onclick="change_submit_btn()">确定
                                                    </button>

                                                    <button class="btn btn-primary" style="margin-left: 30px;" onclick="change_reset_btn()">重填
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
{% endblock %}

{% block js %}

    <script type="text/javascript" charset="utf-8" src="/static/js/layer/layer.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/layer/extend/layer.ext.min.js"></script>
     <script>
        function reload_table(updata_list) {
                        $(".auto_line").remove();
                        for (var line in updata_list){
                            var user_nameString="<td>"+updata_list[line]['user_name']+"</td>";
                            var sub_nameString="<td>"+updata_list[line]['sub_name']+"</td>";
                            var yearString="<td>"+updata_list[line]['year']+"</td>";
                            if(updata_list[line]["wish_flag"]=="1"){
                                var wish_flag="<td>第一志愿</td>";
                            }
                            else if(updata_list[line]["wish_flag"]=="2"){
                                var wish_flag=" <td>第二志愿</td>";
                            }
                            else if(updata_list[line]["wish_flag"]=="3"){
                                var wish_flag=" <td>第三志愿</td>";
                            }
                            else{
                                var wish_flag=" <td>第四志愿</td>";
                            }
                            if(updata_list[line]["postil_flag"]=="1"){
                                var postil_flagString="<td><span class='label label-success label-rounded'>已通过</span></td>";
                            }
                            else if(updata_list[line]["postil_flag"]=="0"){
                                var postil_flagString=" <td><span class='label label-warning label-rounded'>未审核</span></td>";
                            }
                            else{
                                var postil_flagString=" <td><span class='label label-danger label-rounded'>未通过</span></td>";
                            }
                            var tableString="<tr class='auto_line' style='text-align:center' select_id_tr='"+updata_list[line]['id']+
                                    "' postil_tr='"+updata_list[line]['postil']+"' wish_flag_tr='"+updata_list[line]['wish_flag']+
                                "' wish_tr='"+updata_list[line]['wish']+ "'>"+user_nameString+sub_nameString+ yearString+wish_flag+postil_flagString+"<td>" +
                                "<button class='onDetail btn btn-success' style='margin-right: 3.5px;'>查看</button>"+
                                "<button class='onChange btn btn-purple' style='margin-right: 3.5px;'>修改</button>"+
                                "<button class='onDelete btn btn-danger'>重选</button>\n" + "</td>\n" + "</tr>"
                            $("#show_table").append(tableString);
                        }
        };

        //查询
        function search() {
            var select_postil_flag = $("#select_postil_flag").val()
            if (select_postil_flag=="3"){
                showAll();
            }else{
                $.ajax({
                    url: "/student/select/",
                    type: 'POST',
                    data: {'operate': "search",'select_postil_flag':select_postil_flag}, //选择提交的数据
                    success: function(data){
                        if(data.status){
                            reload_table(data.data);
                        }else{
                             layer.alert("没有找到相关数据");
                        }
                    }
                });
            }
        };
        //显示全部
        function showAll() {
            $.ajax({
                url: "/student/select/",
                type: 'POST',
                data: {'operate': "search",'select_postil_flag':"3"},      //选择提交的数据
                success: function(data){
                    if(data.status){
                        reload_table(data.data);
                    }else{
                        layer.alert("没有找到相关数据");
                    }
                }
            });
        };
        //增加题目提交按钮事件
        function add_submit_btn() {
            $.ajax({
                url: "/student/select/",
                type: 'POST',
                data: {'operate': "add", 'add_sub_name':  $("#add_sub_name").val(),'add_year':$("#add_year").val(),
                    'add_wish_flag':$("#add_wish_flag").val(),'add_wish':$("#add_wish").val()},   //选择提交的数据
                success: function(data){
                    if(data.status){
                        layer.alert("增加选题成功");
                        reload_table(data.data);
                        add_returen();
                    }else{
                        layer.alert(data.data);    //错误提示
                    }
                }
            });
        };

        function add_reset_btn(){
                $('#add_sub_name').val("");
                $('#add_wish').val("");
            };

        function add_select() {
            $('#show_page').addClass('hide');
            $('#add_page').removeClass('hide');
            add_reset_btn()//清除函数
        };
        function add_returen() {
            $('#show_page').removeClass('hide');
            $('#add_page').addClass('hide');
        };


        //点击查看详情
        $('#show_table').on("click",".onDetail",function(){
            $('#show_page').addClass('hide');
            $('#detail_page').removeClass('hide');
            var sub_name=$(this).parent().prev().prev().prev().prev().text();
            var year=$(this).parent().prev().prev().prev().text();
            var wish_flag=$(this).parent().prev().prev().text();
            var postil_flag=$(this).parent().prev().text();
            var wish=$(this).parent().parent().attr('wish_tr');   //题目内容
            if($(this).parent().parent().attr('postil_tr')=="null"){
                var postil="未审核";
            }
            else{
                var postil = $(this).parent().parent().attr('postil_tr')
            };//审核意见
            $('#detail_sub_name').text(sub_name)
            $('#detail_wish_flag').text(wish_flag)
            $('#detail_year').text(year)
            $('#detail_postil').text(postil)
            $('#detail_postil_flag').text(postil_flag)
            $('#detail_wish').text(wish)
        });
        //查看详情的返回按钮
        function detail_returen() {
            $('#show_page').removeClass('hide');
            $('#detail_page').addClass('hide');
        }

        //修改//
        $('#show_table').on("click",".onChange",function(){
            var postil_flag=$(this).parent().prev().text();
            if (postil_flag=="已通过"){
                layer.alert("已通过的审核不可修改")
            }
            else if (postil_flag=="未通过"){
                layer.alert("未通过的审核不可修改")
            }
            else{
                $('#show_page').addClass('hide');
                $('#change_page').removeClass('hide');
                var name=$(this).parent().prev().prev().prev().prev().prev().text();
                var sub_name=$(this).parent().prev().prev().prev().prev().text();
                var year=$(this).parent().prev().prev().prev().text();
                var wish_flag=$(this).parent().parent().attr('wish_flag_tr');      //意愿标识
                var wish=$(this).parent().parent().attr('wish_tr');                //意愿内容
                var select_id=$(this).parent().parent().attr('select_id_tr');      //当前选择意愿的ID号
                $('#change_name').text(name)
                $('#change_sub_name').val(sub_name)
                $('#change_sub_name').attr("select_id",select_id)    //把题目id放在这个里面存着
                $('#change_year').val(year)
                $('#change_wish_flag').val(wish_flag)
                $('#change_wish').val(wish)
            }
        });
        //修改的重填按钮事件
        function change_reset_btn(){
                $('#change_sub_name').val("")
                $('#change_wish').val("")
            };
        //返回按钮
        function change_returen() {
            $('#show_page').removeClass('hide');
            $('#change_page').addClass('hide');
        }
        //修改题目提交按钮事件
        function change_submit_btn() {
            //$('#change_sub_name').attr("select_id")        //修改的选择 号
            $.ajax({
                url: "/student/select/",
                type: 'POST',
                data: {'operate': "change",'change_select_id':  $('#change_sub_name').attr("select_id")  , 'change_year':  $("#change_year").val(),
                    'change_sub_name':$("#change_sub_name").val(),'change_wish_flag':$("#change_wish_flag").val(),'change_wish':$("#change_wish").val()},   //选择提交的数据
                success: function(data){
                    if(data.status){
                        layer.alert("修改选题成功");
                        reload_table(data.data);
                        change_returen();
                    }else{
                        layer.alert(data.data);    //错误提示
                    }
                }
            });
        };


        //重选
        $('#show_table').on("click",".onDelete",function(){
            var postil_flag=$(this).parent().prev().text();
            if (postil_flag=="已通过"){
                layer.alert("已通过的题目不可重选")
            }
            else if (postil_flag=="未审核"){
                layer.alert("未审核的题目不可重选")
            }
            else{
                var delete_select_id=$(this).parent().parent().attr('select_id_tr');   //题目的id号
                layer.confirm('您确定要重选吗？',
                    {btn: ['确定', '取消']},
                    function () {
                        $.ajax({
                            url: "/student/select/",
                            type: 'POST',
                            data: {'operate': "delete",'delete_select_id': delete_select_id},   //选择提交的数据 操作和需要重选的选择号
                            success: function(data){
                                if(data.status){
                                    $(".auto_line").remove();
                                }
                                else{
                                    layer.alert(data.data);    //错误提示
                                }
                                layer.close(layer.index);
                            }
                        });
                    }
                );
            }
        });
    </script>


    <script>
        $(function () {
            $('#sidebarnav > li:nth-child(1)').addClass('selected');  //选择菜单背景
            $('#sidebarnav > li:nth-child(1) > a').addClass('active');
            showAll();        //刷新页面自动加载全部数据库相关内容
        });
    </script>
{% endblock %}